.app-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-family: 'Roboto';
  min-height: 100vh;
}

.error-message {
  text-align: center;
  color: #00e7ff;
  font-size: 28px;
  font-weight: bold;
  margin: 4px;
}

@media (min-width: 576px) {
  .error-message {
    font-size: 48px;
  }
}

